*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #fff;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
    min-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

               /* HEADER */

.top-line .container{
    background-color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-line{
     border-bottom: 1px solid #e7e9fc;
}

.nav-page{
    display: flex;
    align-items: center;
}
     
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-studio{
    color: #2e2f42;
}

.menu{
    display: flex;
    gap: 40px;
}

.menu-link{
    font-weight: 500;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.menu-link:hover, 
.menu-link:focus,
.contact-link:focus,
.contact-link:hover, 
.menu-link.current{
    color: #404BBF;
}

.menu-link.current{
    position: relative;
}

.menu-link.current::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height:4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.contact{
    font-style: normal;
}

.contact-list{
    display: flex;
    gap: 40px;
}

.contact-item{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link{
    color: #434455;
    display: block;
   
}


               /* HERO */

 .hero {
    padding: 188px 0; 
    background-color: #2e2f42;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 1440px;
    background-size: cover;
}


.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left:  auto;
    margin-right: auto;

}

.hero-button{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, 
.hero-button:focus{
    background-color: #404BBF;;
}


      /* ADVANTAGES */

.advantages-list{
    display: flex;
    gap: 24px;
}

.advantages-item{
 width: calc((100% - 72px) / 4);
}

.advantages-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;

}

.advantages-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.advantages-text{
}

/* TEAM */

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
   
}

.team-card{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); 
    width: calc((100% - 72px) /4);
}

.team-info{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-member{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-text{
    text-align: center;
    margin-bottom: 8px;
}

.team{
    background: #f4f4fd;
}

.social-links{
    display: flex;
    gap: 24px;
    justify-content: center;

}


.social-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon{
    fill: #f4f4fd;
}

.social-icon-link:hover, .social-icon-link:focus{
    background-color: #404BBF;
}




  /* PORTFOLIO */

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}
.portfolio-box{
    position: relative;
    overflow: hidden;
}

.overlay{
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay{
    transform: translateY(0);
}

.portfolio-card{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding:32px 16px;
}

.portfolio-proposition{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


/* FOOTER */

.footer{
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.footer .container{
    display: flex;
    align-items: baseline;
}

.footer-content{
    display: block;
    margin-right: 120px;
}


.logo-footer{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-text{
    color: #f4f4fd;
    max-width: 264px;
}

.logo-studio-footer{
    color: #f4f4fd;
}

.footer-social-media{
    display: block;

}

.footer-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    ;

}

.social-media-text{
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill:#f4f4fd;
}

.footer-link:hover, 
.footer-link:focus {
    background-color: #31D0AA;
}